{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Randomic Rabbit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
              <img class="d-block mx-auto mb-4" src="{% static 'img/jumping-rabbit.png' %}" alt="jumping rabbit" height="160">
              <h2>Randomic Rabbit</h2>
              <p class="lead">Random numbers at random time intervals</p>
              <p id="number" style="font-size: 8rem;"></p>
            </div>
        </div>
        
        <script>
            if(typeof(EventSource) !== "undefined") {
                let evtSrc = new EventSource("stream/");
                evtSrc.onmessage = function(event) {
                    let number = document.getElementById("number");
                    number.innerHTML = event.data;
                };
            } else {
                let number = document.getElementById("number");
                number.innerHTML = "There's a problem, this browser does not support server-sent events.";
                number.style.color = "red";
            }
        </script>
    </body>
</html>